.bg{
    background-image: url(../../travel-guru-master//Image/Group\ 1331.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    
}

.place{
    display: flex;
    position: absolute;
    left: 352px;
    top: 100px;
}